body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

/* header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  overflow: hidden;
  transition: ease 0.1s;
}

.logo-group {
  display: flex;
  max-width: 200px;
  gap: 1rem;
}

.logo-group .logo-text {
  transition: ease 0.3s;
}

header button{
  background-color: rgb(255, 112, 29);
}

header button:hover{
  background-color: rgb(242, 90, 1);
}

/* navigation */
nav {
  position: absolute;
}

nav>ul>a>li {
  display: inline-block;
  background-color: aqua;
}

/* main */
main{
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

/* footer */
footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 2rem;
}

footer ul{
  display: flex;
  gap: 1rem;
}

.social-media-icons{
  display: flex;
  gap: 1rem;
}

footer img{
  width: 50px;
}

footer p{
  font-size: 1rem;
  text-align: center;
}