/* hero */
.hero {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.hero-content {
  padding: clamp(2rem, 7vw, 8rem);
  max-width: 900px;
  width: 100%;
  z-index: 1;
  position: absolute;
  color: rgb(255, 242, 224);
  transition: ease 0.5s;
}

.hero-content p {
  max-width: 450px;
  margin: 2rem 0;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

h1 .block {
  display: block;
}

/* For design-oriented line breaks, it's better to use <span> with display: block rather than <br>, as it's more flexible and responsive. */


/* about */
.about {
  width: 80%;
  max-width: 1300px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  gap: 1.5rem;
}

.about ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 1rem;
}

.about p,
.about h2{
  text-align: center;
}


/* features */
.features {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.features-card-container{
  display: flex;
  margin-top: 1rem;
  gap: 1.5rem;
}

.features h2{
width: 80%;
margin: 0 auto;
max-width: 1300px;
min-width: 300px;
}

.feature-card{
  display: flex;
  border-radius: 2rem;
  background-color: rgb(255, 242, 224);
  padding: 1.5rem;
}

h2 .block {
  display: block;
}


/* team */
.team {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.team-card{
  display: flex;
  margin-top: 1rem;
  gap: 1.5rem;
}

.team h2,
.team p{
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  min-width: 300px;
  }

  .team p .block{
    display: block;
  }

  .team-member{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: rgb(255, 242, 224);
    padding: 1.5rem;
  }


/* ticker */
.ticker {
  display: none;
}

/* testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.review-card-container{
  display: flex;
  margin-top: 1rem;
  gap: 1.5rem;
}

.testimonials h2,
.testimonials p{
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  min-width: 300px;
  }

  .review-card{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: rgb(255, 242, 224);
    padding: 1.5rem;
  }


/* download-cta */
.download-cta {
  background-color: rgb(255, 242, 224);
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 1300px;
  min-width: 300px;
}

.stats{
  display: flex;
  gap: 1.5rem;
}


/* faqs */
.faqs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  min-width: 300px;
}

.faqs h2{
  text-align: center;
}


/* animation */
.animation {
  display: none;
}


/* subscribe */
.subscribe {
display: flex;
flex-direction: column;
background-color: rgb(255, 242, 224);
gap: 1.5rem;
}

.subscribe-content,
.subscribe h3{
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  min-width: 300px;
}

.subscribe-content{
  display: flex;
  gap: 1.5rem;
}