button{
  width: 200px;
  background-color: rgba(19, 18, 18, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(255, 242, 224);
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  transition: ease 0.3s;
  font-weight: bold;
  font-size: 1.3rem;
}