button{
  background-color: rgba(19, 18, 18, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(255, 242, 224);
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  transition: ease 0.3s;
}

button:hover{
  background-color: rgba(152, 125, 4, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header button:hover{
  background-color: rgb(62, 62, 61);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-button{
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
}